<ngb-tabset type="pills">
    <ngb-tab title="Simple">
      <ng-template ngbTabContent>
          <app-carousel></app-carousel>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
      <ng-template ngbTabContent>
      ls - Listaa tiedostot ja kansiot<br/>
      cd - Vaihtaa kansiota<br/>
      cp - Kopioi tiedoston<br/>
      chmod - Muuttaa oikeuksia<br/>
      less(more) - Näyttää tekstin sivu kerallaan<br/>
      find - Hakee tiedoston<br/>
      grep - Hakee tekstiä tiedostoista<br/>
      mv - Siirtää tai uudelleennimeää tiedoston tai kansion<br/>
      man - Näyttää käyttöohjeen komennolle<br/>
      rm - Poistaa tiedoston tai kansion<br/>
      ps - Näyttää käynnissä olevat prosessit<br/>
      sudo - Suorittaa komennon root oikeuksilla<br/>
      apropos - Etsii komentoja<br/><br/>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>