<div class="container">
  <div class="jumbotron">
      <h1>Kuka minä olen?</h1>
      <p>
        
      </p>
  </div>
  <!--  -->
</div>
<div class="container">
    <div class="panel panel-default">
        <div class="media">
          <div class="media-left">
            <img src="assets/images/omakuva.png" class="media-object" style="width:150px" alt="omakuva" style="margin: 0px 20px 0px 0px">
          </div>
         
          <div class="media-body ">
              
            <h4 class="media-heading">Mikko Kaasinen</h4>
            <p>Olen 35-vuotias IT-tradenomiopiskelija Tampereelta. Opiskelen Haaga-Heliassa pääaineenani ohjelmistotuotanto. Sydäntäni lähellä olevia aiheita ovat: ohjelmointi, pelaaminen, tietokoneet ja lukeminen.</p>
          </div>
        </div>
        </div>
</div>

