<nav class="navbar navbar-dark bg-dark mb-5">
  <div class="container">
    <a class="navbar-brand" href="/">Turilas</a>
    <div class="navbar-expand mr-auto">
        <ul class="nav navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="">Koti</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="linux">Linux</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="about">Tietoja</a></li>
    </ul>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://github.com/turilas83" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="nav-item nav-link" href="https://linkedin.com/in/mikkokaasinen" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
  </nav>

 